*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align:center;
}
#topheading{
    padding: 0.5rem;
    margin-top: 5vh;
    margin-bottom: 3vh;
    text-align: center;
    background-color: #fba80f;
    color: rgb(13, 14, 15);
    border:5px solid rgb(18, 8, 18);
    font-weight: bolder;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}
.box{
    height: 18vmin;
    width:18vmin;
    background-color: aliceblue;
    font-size: 12vmin;
    color:rgb(196, 24, 211);
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    color: aliceblue;
    text-align: center;
    background-color: rgb(64, 41, 10);
    border-radius: 1rem;
    border: none;
}
#reset:hover{
    background-color: #be4337;
    color: rgb(23, 21, 21);
    border:5px solid black;

}
h1{
    text-align: center;
    width: 100%;
    padding: 1rem;
    background-color: rgb(87, 233, 8);
    color: rgb(16, 14, 12);
    position: fixed;
    margin-top: 25vh;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border:5px solid rgb(220, 232, 3);
    animation-name: flicker;
    animation-duration:0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 1);
}   
@keyframes flicker{
    from{
        background-color: rgb(106, 231, 97);
    }
    to{
        background-color: rgb(112, 210, 102);
    }
}
.makeblack{
    color: black;
}
.makepurple{
    color: purple;
}